*{
    box-sizing: border-box;
    padding: 0 ;
    margin: 0 ;
}
html{
    /* border: 3px solid yellow; */
}
.grid{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px; */
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
    justify-content: space-evenly;
}
.col{
    /* border: 3px solid white;  */
    min-width: 300px;
    min-height: 300px;
    background-color: rgba(193, 43, 212, 0.3);
    border-radius: 20px;
    z-index: 12;
}
body {
    /* color: white; */
    /* background-image: url('https://c4.wallpaperflare.com/wallpaper/761/613/75/abstract-sky-sun-clouds-wallpaper-thumb.jpg'); */
    background-image: url('https://i02.appmifile.com/images/2019/06/27/3dfbd421-111a-484b-a250-5521fe7e49cf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;justify-content: center;align-items: center;
    /* border: 3px solid green; */
    margin: 0; /* Make sure to reset default margin */
}
#mainBox{
/* border: 3px solid pink; height: auto ; width:  auto; */
}
.inputHeader{
    text-align: center;
}
.cityInput{
    margin: 0 auto;
}
.header{
    /* color: white; */
}
form{
    margin-bottom: 20px;
}
input{
    border-radius: 5px;
    width: 20px; 
}
.submitbutton{
 background-color: rgba(52, 152, 219, 0.9); 
    border: none;
    border-radius: 5px; 
}
.weatherDiv{
   
}
.cityInput{
    width: auto;
}
.text{
    height: 200px;
}

.flex {
    display: flex;
    /* gap: 10px; Use space-evenly here */
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Use column for flex-direction */
}
.container{
    min-width: 600px;
    margin: 0 auto;

}


.descOne,.descTwo,.descThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.bottom{
    font-size: 3rem;
}
/* MEDIA QUERIES  */
@media (max-width: 600px) {
    .grid{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .col{
        height: 40vh;width: 80vw;
    }
}